[2020-04-18 21:57] Sowkai24 opened #1 "Doesn't work for 9 Pie"

[2020-04-18 21:57] Hexsphere commented on #1
no description...?

[2020-04-18 21:58] Sowkai24 commented on #1
Hold on, I have a screenshot but insanely hard to upload from mobile app

[2020-04-18 21:59] Hexsphere commented on #1
ah okay

[2020-04-18 21:59] Sowkai24 commented on #1
![Screenshot_20200418-145024](https://user-images.githubusercontent.com/62969951/79672265-37802580-8185-11ea-9b9f-dc6f72d1fb6a.png)

[2020-04-20 15:27] micahlt commented on #1
All right, thanks!  Try updating the app by downloading the [latest version](https://build.phonegap.com/apps/3916109/share) from PhoneGap.  I fixed this in version 0.3.2.

[2020-04-20 15:27] #1 closed

[2020-04-20 15:28] micahlt commented on #1
@Hexsphere fixed it :+1:

[2020-04-20 16:38] Hexsphere commented on #1
cool

[2020-04-25 01:27] micahlt opened #3 "Issues with bundling to PhoneGap"
When you use Parcel to bundle the assets (SCSS, Vue) the `index.html` file adds slashes to file paths to scripts, images, etc.  This causes the app when packaged with PhoneGap to be unstyled HTML without any functionality.  Currently this is avoided by removing slashes manually after building with Parcel.  Any help with this would be very convenient.

[2020-04-25 01:30] micahlt opened #4 "Help with opening projects"
I've built a large skeleton for this app, but I need some help with opening projects.  So far we're using Forkphorus, but it may not be the optimal method to use.  Suggestions?

[2020-04-25 06:07] geographix commented on #4
@micahlt You should definitely switch from forkphorus because it can render graphics poorly. Maybe you could try the original embeded codes for scratch projects?

[2020-04-25 16:42] micahlt commented on #4
@geographix Would you be able to add that and make a PR?  I've done a whole snap-ton of this myself and some help would be nice :smiley:

[2020-04-25 17:31] geographix commented on #4
@micahlt Sure! Although I don't fully understand the principles of app building. Is it the same as building website: HTML, JS, CSS?

[2020-04-25 18:31] micahlt commented on #4
Pretty much!

[2020-04-26 05:50] geographix commented on #4
Cool! I'll work on it today!

[2020-04-26 10:51] geographix commented on #4
Where's can I find the project viewing page?

[2020-04-26 14:00] micahlt commented on #4
@geographix It's all in one page.  When you click a project, a `div` slides up and should show the project.

[2020-04-26 14:09] geographix commented on #4
what's the class or id to identify it?

[2020-04-26 14:19] micahlt commented on #4
@geographix it's class is `project-shade` and you should see a comment right before it that says:
[code]

[2020-04-26 14:23] geographix commented on #4
Great! I'll try and get it done if I can find some time...

[2020-04-26 14:24] micahlt commented on #4
@geographix Thanks man.  Appreciate the help :+1:

[2020-04-26 14:29] geographix commented on #4
No problemo

[2020-04-26 15:13] YOYITsM3M8 commented on #4
@geographix  can I help?

[2020-04-26 18:47] geographix commented on #4
hmmm... maybe but this seems like a pretty basic bit of html.

[2020-04-26 20:13] YOYITsM3M8 commented on #4
Yeah

[2020-04-27 06:31] geographix commented on #4
@micahlt I think I have managed to find the solution to your problem. See the PR!

[2020-05-05 00:06] micahlt commented on #4
@geographix I think I actually found the problem and fixed it.  It's live with version 0.3.5!

[2020-05-05 00:06] #4 closed

[2020-05-05 00:07] micahlt commented on #3
@Hexsphere (I just assigned you because you have more Parcel experience than I do; no pressure)

[2020-05-05 05:37] geographix commented on #4
What was it?

[2020-05-05 14:42] micahlt commented on #4
I had to replace the Vue templating strings after a user closed the project
shade.  👍

On Tue, May 5, 2020, 12:37 AM Geo <notifications@github.com> wrote:

[2020-05-05 15:52] geographix commented on #4
Oh! :thumbsup:

[2020-05-05 16:17] micahlt opened #6 "Documentation needed!"
There needs to be more documentation for SC4 Mobile and in fact, all of the other SC4 repositories.  If anyone has some spare time, it'd be nice to go through and comment on the code so others can contribute.

[2020-05-05 18:33] geographix commented on #6
I am not an official member but if I can find some time I'd be happy to help! 😄

[2020-05-08 13:43] micahlt opened #7 "Switch to a more native-looking interface"
The current UI for SC4 Mobile is really cool, but I was wondering: would it be better to focus more on functionality and integration with the operating system?  If we wanted to aim for more uniformity with the OS we could use [the Ionic framework](https://ionicframework.com/) instead of custom styling.  Any thoughts, @Scratch-Client-4/everyone?  This is a big decision.

[2020-05-08 13:53] micahlt opened #8 "View user pages"
Viewing profile pages is a must-have for SC4 Mobile.  High-priority, help wanted.

[2020-05-08 14:34] 4meltdown4 commented on #7
Hmmm, I would say we should work on integrating it with the OS even though I love the current UI

[2020-05-08 15:16] YOYITsM3M8 commented on #8
We can use some of the code from @locness3’s embed profile viewer

[2020-05-08 15:17] locness3 commented on #7
Yeah, I think OS integration would definitely be great.

[2020-05-08 15:19] locness3 commented on #8
It depends on the stack of the app. My thing is pure JS, while here Ionic Framework will maybe be used.

[2020-05-08 15:21] micahlt commented on #7
@4meltdown4 @locness3 So, switch to Ionic?

[2020-05-08 15:22] locness3 commented on #7
I would.

[2020-05-08 15:33] locness3 commented on #3
If I understand right, it adds a slash to the beginning of their paths, and so they are fetched from the phone's filesystem's root?
Also, this may be why it looks like this for me :
![Screenshot_2020-05-08-17-26-36](https://user-images.githubusercontent.com/37651007/81421479-d5965880-9151-11ea-8d98-282a7b555146.png)
(may also be because of my outdated android, although I think phonegap uses its ow

[2020-05-08 15:36] locness3 opened #9 "Add parcel as a dependency"
This will allow to not ask for parcel to be installed system-wide, and the defined build script will still work.

[2020-05-08 15:43] micahlt commented on #7
All righty then.  We're switching to Ionic Components for the mobile app, which means I'll essentially have to reconstruct the HTML sections.  I'll make a PR in the next week or two.

[2020-05-08 15:43] micahlt commented on #8
@locness3 Isn't Ionic just style and DOM?

[2020-05-08 18:02] locness3 commented on #8
Well, if I'm not wrong it's in typescript, and even though it _is_ a bunch of script and style, like everything it's a tech stack by itself. If you want a way to do native like apps without learning a new stack, you light wanna try Onsen Ui.

[2020-05-08 18:36] ConvexPolygon commented on #3
I'm on chromeos and I tested the .apk. It is horrible. Nothing works. I would recommend building it as a cached apk for cross-platform compatibility. Phonegap looks kind of outdated too, as my chromebook identifies it as an Android Lollipop package.

[2020-05-08 18:43] locness3 commented on #7
@micahlt please read this first : https://github.com/Scratch-Client-4/mobile/issues/8#issuecomment-625942637

[2020-05-08 21:00] Huelz commented on #7
I feel we should stick to the current look, as it might cause confusion on how to navigate the sight. Another possible app for the UI is Adobe XD, although some might not be able to buy or afford it. Although iconic components might be nice, keep in mind this is a kids website, and for (especially younger kids) it might be hard for them to use:

[2020-05-08 21:39] micahlt commented on #3
@ConvexPolygon Nope, PhoneGap isn't out of date.  I do know some Chromebooks don't correctly run Android apps, so that might be it.  It's definitely not designed to work on a screen that big, as it's a mobile app, not a tablet app.  @locness3 Don't know why it's acting like that.  Could be an issue with Parcel, but I don't have my laptop at hand, so I'll have to fix it in about two days.

[2020-05-08 21:40] micahlt commented on #3
@locness3 Latest version works for me... I'm running Marshmallow.
![Screenshot_20200508-142930](https://user-images.githubusercontent.com/28816297/81451677-9ca6b580-914a-11ea-8985-3849244eba4c.png)

[2020-05-08 21:44] micahlt commented on #7
SC4 Mobile is a native (downloadable) app, not a website.  We already are changing the look from Scratch.  In my opinion, being consistent with the OS makes it easier to navigate, not harder.

I'm not sure why you brought up Adobe XD.  Can you explain further?

[2020-05-08 21:46] micahlt commented on #3
Also @ConvexPolygon, what do you mean by cached APK?

[2020-05-09 06:09] locness3 commented on #3
@micahlt I really think it's my Android (4.4 KitKat lol)

[2020-05-09 06:10] locness3 commented on #7
Adobe XD is a UI design software, it's not possible to build a functional UI with it (and btw it's free)

[2020-05-09 06:12] locness3 commented on #7
@micahlt So you stay with Ionic?

[2020-05-09 09:02] locness3 commented on #6
If there was actual code in the desktop repos, I would

[2020-05-09 09:04] locness3 opened #11 "Correctly using Vue with Parcel"
Currently, Vue is being in the project's code and being imported without using Parcel. This is bad practice (i think? lmao). We should switch to "the correct way", as [this video](https://www.youtube.com/watch?v=4deVCNJq3qc)'s part 2 will teach you better than me. While we're doing that, we should split stuff over multiple, reusable components and make more use of Vue's features (like using its da

[2020-05-09 16:04] micahlt commented on #3
@locness3 lol KitKat, those were the days

[2020-05-09 16:05] micahlt commented on #6
@locness3 true lol

[2020-05-09 16:34] locness3 opened #12 "Actually allow to copy the verify code"
I can't select the user verification code. Running on emulated android 8.0.0

[2020-05-10 03:56] ConvexPolygon commented on #3
I meant build it as a PWA and allow users to store the app in their cache.
My chromebook is running Android Oreo in a vm

[2020-05-10 04:03] ConvexPolygon commented on #3
I also realized I didn't build it, that's the problem. I forgot to build parcel.

[2020-05-10 04:03] ConvexPolygon commented on #3
Yes, I started with honeycomb on my tablet.

[2020-05-10 06:04] locness3 commented on #3
While we're at it saying our first android versions I started with Ice Cream Sandwich

[2020-05-11 02:58] micahlt commented on #7
@locness3 Yeah, I think we should. I've started building on the [`ionic` branch](https://github.com/Scratch-Client-4/mobile/tree/ionic).

[2020-05-11 02:59] micahlt commented on #12
Hm, okay.  Low-priority right now while I'm transitioning to Ionic.

[2020-05-11 03:00] micahlt commented on #11
I tried including Vue without the direct file and I get a whole string of issues.  File a pull if you can fix it!   :D

[2020-05-11 03:00] micahlt commented on #9
Ah, that's good.  Will do.

[2020-05-11 07:43] locness3 commented on #11
I also got issues using Vue and Parcel trying to do some work on teh desktop version.

[2020-05-11 07:44] locness3 commented on #11
Might not be Parcel-related tho.

[2020-05-11 07:51] locness3 commented on #7
okay.

[2020-05-11 13:18] micahlt commented on #11
@locness3 True... I'm also having some issues with Ionic installations via `npm`, so who knows.

[2020-05-11 14:51] micahlt opened #13 "Future of SC4"
Yo, so I'm trying to rebuild SC4 with Ionic and Vue, and I'm nearly dead.  Any help (develop on the `ionic` branch of this repo) will help my sanity, thanks.

[2020-05-11 15:12] locness3 commented on #11
One issue I've had with Vue+Parcel, is that by default, it includes a "runtime-only" build of Vue, wich doesn't parse templates inside of HTML 😒

[2020-05-11 15:12] locness3 commented on #11
(and I still didn't fix it lol)

[2020-05-11 15:43] micahlt commented on #11
@locness3 Yeah, that's the main problem I'm having.

[2020-05-16 22:40] micahlt commented on #13
@Scratch-Client-4/everyone Errr...

[2020-05-16 22:51] micahlt commented on #7
Hey, @Scratch-Client-4/everyone.  I'd like us to vote on a framework as I'm encountering a lot of issues building with Ionic.  I've set up a poll, so [please vote!](https://strawpoll.com/pg2swzzf/r)

[2020-05-17 06:25] locness3 commented on #13
To use Vue with Parcel, you have to create an App.vue component which is your main thingy. Then you need to import it in the main script, and use `render` when initiating the vue instance to render it. See this as an example : https://github.com/ammezie/vue-parcel

[2020-05-17 12:35] micahlt commented on #13
@locness3 At this point I'm debating whether or not we should even use Vue for the mobile app, as it's mainly just another dependency that could be avoided and no one on the team really knows a ton about it...

[2020-05-17 12:57] locness3 commented on #13
I think the best thing to do is to ditch Parcel, and use Vue "as-is". I have only got into trouble with Parcel. Or swicth to Webpack which seems to be better.

[2020-05-17 13:36] micahlt commented on #13
@locness3 But we're using Sass, so we've got to have a bundler.  Parcel's website says that Webpack is slower and I _know_ it's way more complicated.  Do you have experience with it?

[2020-05-18 03:23] ConvexPolygon commented on #7
I'm doing a material design course right now, and I like it's framework. I'd do material design :)

[2020-05-18 06:54] locness3 commented on #13
In fact, no. But do we really _need_ a bundler ? Can't we just setup node-sass or any SASS CLI, and make the html point to where it outputs the files?

[2020-05-18 06:55] smileycreations15 commented on #13
i used parcel before iirc

[2020-05-19 06:47] locness3 commented on #13
(we should still use npm for package management tho)

[2020-05-19 06:48] smileycreations15 commented on #13
(yas)

[2020-05-19 14:18] micahlt commented on #13
@locness3 True, npm is my savior.

[2020-05-19 14:20] micahlt commented on #13
Cool, closing this issue.  We'll use `node-sass` to interpret SCSS files and get rid of Parcel.  Also either one of you (@smileycreations15 @locness3) able to help build some?

[2020-05-19 14:26] locness3 commented on #13
Sorry, wdym?

[2020-05-20 13:48] micahlt commented on #13
Sorry, I mean after we choose a framework (we might be switching... again) could you guys help build in some features?

[2020-05-21 08:12] locness3 commented on #13
I hope I can. Although, if we don't use a bundler, problem is, we can't cleanly split stuff over multiple files...

[2020-05-21 12:49] micahlt commented on #13
@locness3 True... though we shouldn't need much styling if we use a framework like Material Components.  And we can always import JS modules with ES6.

[2020-05-22 07:30] locness3 commented on #13
Yeah.

[2020-06-17 11:02] locness3 commented on #13
@micahlt

[2020-07-08 21:57] micahlt commented on #13
@locness3 I'm reviving this a little bit, but I'm currently not looking at revising the UI framework.

[2020-07-09 17:06] micahlt opened #14 "Failed to load module script"
When running the application on an emulated Google Pixel 3XL device running Android 10, the JavaScript that powers the application does not execute.  The logs say:
[code]
Research on Stack Overflow claims that this is easily solvable by simply serving the files on a local server.  However, as we're using Cordova (PhoneGap), this is not possible.  We need the file `scripts/index.js` to import stati

[2020-07-09 17:07] #7 closed

[2020-07-09 17:09] micahlt commented on #12
@locness3 Fixed in 9e8a1f91e89d84ec29ffb0f148d9959751d1a8b4

[2020-07-09 17:09] #12 closed

[2020-07-10 06:42] locness3 commented on #14
Doesn't Cordova make a local web server?

[2020-07-10 17:44] micahlt commented on #14
Not to my knowledge...

[2020-07-15 08:06] locness3 opened #15 "What can we do for this?"
@micahlt, are you working on anything about this app? If yes, what? If no, what can we work on? We are 17 people in this organization, so if you give some guidance we can make a lot of progress on this.

[2020-07-15 08:08] locness3 commented on #15
Also, I think a Discord server would really benefit SC4.

[2020-07-16 00:59] micahlt commented on #15
@locness3 All right, sorry for the inactivity.  Let's get this going again.  Here's a priority list, in order:

- Get a working production model to turn this repo into an APK file (using PhoneGap/Cordova), and document the process so the entire team can do it
- Add dark mode/light mode switcher under the user settings panel
- Add a new panel for searching Scratch ~ this is huge, so it should take

[2020-07-16 01:41] micahlt opened #16 "Migration to Apache Cordova"
I'd like to suggest that we migrate from Adobe PhoneGap to Apache Cordova as our app compiler.  While PhoneGap was based on Cordova technology, when the projects split Cordova became much more powerful as an open-source tool, and it has several benefits:

- Better compilation, offline in the terminal (no more uploads and compressing)
- More supported FOSS community
- Easier plugin integration

I'd

[2020-07-16 01:42] micahlt commented on #3
Closing this issue.  The current solution is to just go through and remove all slashes in front of file paths.  This includes `links`, `scripts`, and `imgs`.  Also, we're moving to Cordova - check out #16.

[2020-07-16 01:42] #3 closed

[2020-07-16 06:46] locness3 commented on #15
I'm sorry I won't really be available to work, I'm on vacation and I have intentionally not taken my computer.

[2020-07-16 06:47] locness3 commented on #3
Isn't Cordova PhoneGap?

[2020-07-16 16:37] locness3 commented on #15
Not that much, if we already have a component for project lists, it's just an api call away.

[2020-07-16 17:21] micahlt commented on #15
@locness3 It's not just projects we're searching for - we also need to be able to search users.  And to my knowledge the Scratch API does not have a built-in search call.

[2020-07-17 02:55] ForgottenProgramme commented on #16
Hey, @micahlt ! I'm new to open source and the tag says 'good first issue', would you please help me with solving this ?

[2020-07-17 06:14] locness3 commented on #15
Is user search really needed? I think it'd need a backend server.

[2020-07-17 16:32] micahlt commented on #16
@ForgottenProgramme Hi there!  Are you familiar with NodeJS and using a terminal/command prompt interface?

[2020-07-18 11:54] ForgottenProgramme commented on #16
@micahlt
I can use a command prompt.
I have heard of NodeJS, but haven't worked in it.

[2020-07-19 17:54] haydenledean commented on #15
Yes

[2020-07-19 18:51] githubfan commented on #15
Please. The only place I'm active is discord.

On Sun, 19 Jul 2020, 6:54 pm forevertoo, <notifications@github.com> wrote:

[2020-07-20 07:50] githubfan commented on #15
@Scratch-Client-4/everyone https://discord.gg/QfG6nVC

feel free to join if you have discord

[2020-07-21 18:43] KING20124 commented on #15
ınvıtes ınvalıd

On Mon, 20 Jul 2020 at 08:50, Josh K <notifications@github.com> wrote:

[2020-07-21 19:10] githubfan commented on #15
https://discord.gg/9EXEnzz

[2020-07-25 13:03] haydenledean commented on #15
yes

[2020-07-26 07:55] locness3 commented on #16
Taking on this!

[2020-07-28 12:28] githubfan commented on #16
@micahlt would be appreciated if you could review the PR locness suggested. I know you said you would be getting a bit busy :)

[2020-08-06 21:35] #16 closed

[2020-08-08 12:49] micahlt commented on #14
Fixed this - Cordova does not support importing scripts as modules.

[2020-08-08 12:49] #14 closed

[2020-08-08 12:50] micahlt commented on #9
Done.

[2020-08-08 12:50] #9 closed

[2020-08-08 16:25] locness3 commented on #14
And if stuff goes on well we will use parcel to bundle everything

[2020-08-10 15:37] AyzansAlt opened #18 "SeEmS LeGIt?!!111!??!?!/1/1/"
![image](https://user-images.githubusercontent.com/36968271/89801204-c09ddc80-db27-11ea-87c0-d95d0b18cd07.png)

[2020-08-10 15:38] locness3 commented on #18
@AyzansAlt Please don't write like that.

[2020-08-10 15:39] locness3 commented on #18
Also, what are you trying to say; are you doing a fork?

[2020-08-10 17:59] AyzansAlt commented on #18
it says itchy when it needs to say SC4 or a veriation

[2020-08-10 17:59] AyzansAlt commented on #18
oops

[2020-08-11 08:22] locness3 commented on #18
PhoneGap is not being used anymore anyways, so I think that's not an issue.

[2020-08-11 08:22] #18 closed

[2020-08-11 08:23] locness3 commented on #18
![Screen Shot 2020-08-11 at 10 23 22](https://user-images.githubusercontent.com/37651007/89874862-b8dc4780-dbbc-11ea-9b53-295bdbe92247.png)
wait a second

[2020-08-11 08:24] locness3 commented on #18
@micahlt Would be nice if you actually kept everyone up-to-date with what's happening

[2020-08-11 14:12] micahlt commented on #18
@locness3 Okay, sorry, been busy and not many other peeps have been actively contributing.  Incro on Scratch has agreed to let us use his design mockups.  He is also making a mobile app for iOS and we're planning to release our apps as a unified platform, tentatively known as Itchy.  This will help prevent confusion cross-platform.  SC4 Mobile was never a very user-friendly name anyway 😉 However,

[2020-08-11 15:54] locness3 commented on #18
True, but IMO that's not a reason for doing things at their discretion. SC4 has a community, that community has to be considered and kept informed so it can be helpful and lively. And also, I'm an admin ;)

[2020-08-11 16:05] AyzansAlt commented on #18
ok, is there an application-to-join form or something?

[2020-08-11 16:29] micahlt commented on #18
@locness3 You're very right.  I'm so sorry - I'll try to be more democratic in the future.  👍

[2020-08-11 17:49] AyzansAlt opened #19 "!Question!"
can I join SC4 or is there an application form?

[2020-08-12 07:15] locness3 commented on #18
Just ask :)

[2020-08-12 18:39] AyzansAlt commented on #11
poopi

[2020-08-13 07:42] locness3 commented on #11
In my "refactoring" that I was doing before the new redesign, I was "fixing" this and I found out that using Vue with a bundler works quite differently. I recommend watching the part 2 of [this video](https://www.youtube.com/watch?v=4deVCNJq3qc) so you can get an understanding of using Vue with a bundler (in the video, it's vue-cli/webpack but the same works with Parcel).

@micahlt @Scratch-Client

[2020-08-13 07:43] locness3 commented on #19
just ask :)

[2020-08-13 07:43] #19 closed

[2020-08-13 07:48] locness3 commented on #13
I completely disagree with myself. Using a bundler is kind of essential in complex projects like this (and we're still kind of using it). We need to use it with our Vue stuff, though. The part 2 of [this video](https://www.youtube.com/watch?v=4deVCNJq3qc) pretty much explains it all. I think we can close this issue, now. We'll continue with Parcel, with our own UI components.

[2020-08-13 07:48] #13 closed

[2020-08-13 08:01] locness3 commented on #7
Ionic Components doesn't support Vue, and we're going with our own components now.

[2020-08-13 08:08] AyzansAlt commented on #7
I think we should just have a settings option, where we can toggle the look from these options:
- ios (native look)
- material (uhh)
- android (native look)

[2020-08-13 08:08] AyzansAlt commented on #19
so can i be invited

[2020-08-13 11:26] locness3 commented on #7
This involves extra coding and extra css libraries

[2020-08-15 19:26] micahlt commented on #11
Not sure if you're aware of this yet, but the current status is that we're not actually using Vue in the rebuild of SC4 (Itchy).  We _could_ technically re-implement it, but we need to consider performance: is Vue actually needed in the first place?

[2020-08-16 07:25] locness3 commented on #11
I'm not aware, nice collaboration 👌

[2020-08-16 07:26] locness3 commented on #11
It's not really needed but it really simplifies development when you get used to it and properly use its features

[2020-08-16 14:20] micahlt commented on #11
So would you be willing to re-implement it in SC4M. I'm really busy this week and probably won't have time to make a single commit...

[2020-08-16 15:30] locness3 commented on #11
I would!

[2020-08-16 18:16] micahlt commented on #11
If you think it's necessary, of course.  I for one enjoy vanilla JS, but if this will improve our development speed and productivity then go for it!  🤠

[2020-08-17 08:56] locness3 commented on #18
I'd like to know more about both ;) Also, instead of two Itch-ies, why not the same thing (this repo) for both iOS and Android? Incro would join SC4 then

[2020-08-17 13:02] micahlt commented on #18
The functions of the apps will be virtually the same - however Incro's version is written in Swift.  I have a Figma link I can give you, but I don't have access to my desktop right now.

[2020-08-17 13:48] locness3 commented on #18
Incro's using Swift? Ok then.

[2020-08-17 20:31] micahlt commented on #18
[This link](https://www.figma.com/file/Wf44u2WoQy66qkkMm3N3Ut/Scratch-Mobile-Concepts---Ekmand-Edition) should work if you're looking for the Figma page.

[2020-08-19 16:47] AyzansAlt commented on #18
Okay, ty

[2020-08-26 15:20] AyzansAlt commented on #18
:O

[2020-08-26 15:21] AyzansAlt commented on #15
I'm working on a Lite version using phonegap sooooooo...

[2020-08-26 16:05] micahlt commented on #15
A Lite version of SC4?

On Wed, Aug 26, 2020, 10:21 AM Ayzan <notifications@github.com> wrote:

[2020-08-26 16:07] AyzansAlt commented on #15
+1

[2020-08-26 16:17] AyzansAlt commented on #15
bump @micahlt

[2020-08-26 16:18] AyzansAlt commented on #15
oops

[2020-08-27 05:07] locness3 commented on #15
There's no need to bump Ayzan.

[2020-08-27 05:18] locness3 commented on #18
Sorry, we're keeping stuff clean ;)

[2020-08-29 17:29] AyzansAlt commented on #18
O:

[2020-08-31 08:29] AyzansAlt commented on #15
unbump?

[2020-08-31 08:30] AyzansAlt commented on #15
pls dont talk like this.
its scary :(

[2020-08-31 08:38] githubfan commented on #15
Please talk professionally.

[2020-08-31 09:12] locness3 commented on #15
The question's answered, so, closing.

[2020-08-31 09:12] #15 closed

[2020-09-01 18:27] AyzansAlt commented on #15
*last edited by kaj (19:27 UTC)*

[2020-09-06 21:51] micahlt opened #20 "Fix dot-prop vulnerability"
There's a critical security vulnerability risk with a dependency of Cordova.  Just run `npm install` to check it out.  However, we need someone to manually fix it, as `npm audit fix` claims that there are breaking changes.

[2020-09-07 11:18] locness3 commented on #20
I'm nto sure these "breaking changes" would affect us, we're using like 1% of cordova's features

[2020-09-08 19:37] micahlt commented on #20
Hm... and I can always revert if there's an issue, I guess.

[2020-09-09 12:38] locness3 commented on #20
You should just test before pushing, i think you have time to work on that since you're pretty active rn ;)

[2020-09-10 14:22] micahlt commented on #20
I don't actually have time lol, but I'll squeeze it in.

[2020-09-10 16:35] locness3 commented on #20
I assume you have time because you keep on adding new stuff 🙃

[2020-09-10 16:38] micahlt commented on #20
Lol I really shouldn't tho - this issue was fixed in 6c1ebe17d00024b749294f5b69a0c8df80c0543b, by the way.

[2020-09-10 16:38] #20 closed

[2020-09-10 16:49] #6 closed

[2020-09-11 11:10] locness3 opened #22 "Do not include cordova.js in the project files"
I had raised this on our Teams DM, and I'm posting it here so it can get more attention.

We shouldn't include the cordova.js file in our project files. It's a file supposed to be auto-generated by cordova when building the app. It is included here as a "workaround" to make sure Parcel doesn't complain about a non-existent script, but we definitely shouldn't do that.

Looking at https://github.com

[2020-09-11 21:38] AyzansAlt commented on #22
I'd say plugin

[2020-09-12 05:29] locness3 commented on #22
I also think it's the best solution. Would be appreciated if someone could get it to work.

[2020-09-12 05:30] locness3 commented on #22
Also, please don't 👍 your own messages ;)

[2020-09-12 14:17] micahlt commented on #22
Fixed in 6ae86c4.

[2020-09-12 14:17] #22 closed

[2020-09-12 14:19] micahlt commented on #8
For anyone who wishes to contribute, we've got user page UI designs in [this Figma file](https://www.figma.com/file/Wf44u2WoQy66qkkMm3N3Ut/Scratch-Mobile-Concepts---Ekmand-Edition?node-id=0%3A1).

[2020-09-12 14:40] locness3 commented on #22
Awesome, congrats Micah!

[2020-09-12 14:41] locness3 commented on #8
How would you get the dominant color from the profile pictures in pure JS?

[2020-09-12 14:55] micahlt commented on #8
I would suggest the [Vibrant.js](https://jariz.github.io/vibrant.js/) library.

[2020-09-12 15:04] locness3 commented on #8
Make sure to use this version then https://github.com/Vibrant-Colors/node-vibrant

[2020-09-13 07:03] locness3 opened #23 "Use LESS and BEM"
We had agreed, on the desktop client, to use LESS with the [BEM](https://getbem.com) methodology. We should also use both here.

[2020-09-13 07:10] locness3 commented on #11
If we use Vue, we should also use this https://www.npmjs.com/package/vue-material-design-icons, btw.

[2020-09-13 14:48] micahlt commented on #23
Sounds good - I'm behind on school right now, but I'll see if I can squeeze in some time.  😬

[2020-09-13 15:21] micahlt commented on #11
I'll just come out and say that I would be completely fine avoiding Vue - I really don't like frameworks.  They just make the app larger and then you have to take the time to learn a whole new approach.  We've got a good project rendering function right now, and that's what we would probably use Vue for the most.

[2020-09-13 15:53] locness3 commented on #11
I personnally think it's better to use frameworks because :
- You can split stuff into distinct, reusable components which improves maintainability and flexibility
- All the "reactive" stuff - once you have your template written, just change some variables to change its content - without chaining multiple `textContent`s.

If we choose to go no-frameworks, we should get to know librairies and stuff

[2020-09-13 15:54] locness3 commented on #11
~~and i'll go make my own app~~

[2020-09-13 18:12] AyzansAlt commented on #23
Why not SCSS or Sass?

[2020-09-13 18:16] AyzansAlt opened #24 "Fullscreen"
Shouldn't the scratch games open in turbowarp (with 60fps) /forkphorus in fullscreen without depending on scratch?

[2020-09-14 18:06] locness3 commented on #24
They will, but iirc viewing projects currently doesn't even work

[2020-09-14 18:06] locness3 commented on #24
They will, but iirc viewing projects currently doesn't even work

[2020-09-14 18:07] locness3 commented on #24
They will, but iirc viewing projects currently doesn't even work

[2020-09-14 18:08] locness3 commented on #23
We had already done this discussion somewhere in the desktop client's issues (tidyness 100)

[2020-09-14 18:11] micahlt commented on #23
+1

On Mon, Sep 14, 2020, 1:08 PM Locness <notifications@github.com> wrote:

[2020-09-14 19:07] AyzansAlt commented on #23
++1

[2020-09-14 19:10] AyzansAlt commented on #24
forkphorous? (https://forkphorus.github.io/app.html?id=INSERT_ID_HERE

[2020-09-15 15:38] locness3 commented on #24
Possibly, but i think we would include the forkphorus code directly

[2020-09-15 15:40] locness3 opened #25 "Viewing projects"
Add the ability to view projects (using forkphorus, I'd include its code directly in our thing with a git submodule) and their details and comments. We should also make it so that the projects don't load instantly, the worst thing with scratch's mobile website. Instead, the user would do some kind of interaction before the project loads.

[2020-09-15 17:46] AyzansAlt commented on #24
ookay

[2020-09-15 17:47] AyzansAlt commented on #25
but, but that was my question :( #24

[2020-09-16 11:15] locness3 commented on #25
I just rephrased it ;)

[2020-09-16 12:09] YOYITsM3M8 commented on #25
Nonono use turbowarp.org

[2020-09-16 13:35] locness3 commented on #25
Maybe? I'm not sure which one's better

[2020-09-16 13:36] YOYITsM3M8 commented on #25
Fork was made by the same person as turbo turbo is better they said

[2020-09-16 13:38] locness3 commented on #25
we'll see

[2020-09-17 21:47] micahlt commented on #25
@YOYITsM3M8 Currently Forkphorus has better embed options than TurboWarp.

[2020-09-18 11:50] YOYITsM3M8 commented on #25
Okay, but I would still recommend turbowarp

[2020-09-18 15:32] locness3 commented on #23
Changing priority as I think it's more "urgent" than profile and project pages.

[2020-09-19 02:50] micahlt commented on #23
@locness3 I'd strongly disagree!  We've got a large audience on Scratch waiting for the Play Store release of this app.  Getting all user-facing features working is key!

[2020-09-19 09:18] AyzansAlt commented on #23
someone spend your 20$ and we can all go home

[2020-09-19 10:14] locness3 commented on #23
Why didn't you use SASS and BEM in the first place, though?

And if we go too fast (and don't use a framework btw) we'll just end up with a spaghetti mess that somehow works but won't be able to be understood by ppl willing to contribute. Let's take our time to make something clean that people can help on - especially considering we have a kind of large community that could do a lot

[2020-09-19 14:24] micahlt commented on #23
@locness3 I didn't use SASS in the first place because I was attempting to develop with PhoneGap and there was no good way to work in the browser (unlike Cordova's `run browser`).  I agree we should take our time, but for the initial release we can save time by not integrating a framework.  I also don't understand how having a _specialized_ framework is going to help contributors.  If anything, it

[2020-09-20 07:54] locness3 commented on #23
How does that impact on using LESS? 🤔

[2020-09-20 07:55] locness3 commented on #23
_Locked and limited conversation to collaborators_

[2020-09-20 07:57] locness3 commented on #23
Maybe because we're not allowing them to? (let's not get off-topic - reply to this on Teams)

[2020-09-20 17:53] AyzansAlt commented on #25
***forking turbowarp for itchy, externally named "Xenon", Internally Named "idk help"***

[2020-09-21 11:07] #24 closed

[2020-09-21 11:07] AyzansAlt opened #26 "building the apk"
![image](https://user-images.githubusercontent.com/36968271/93759919-01970f80-fc03-11ea-95ac-431eef528a32.png)
line 26 @locness3

[2020-09-21 16:08] locness3 commented on #26
Make sure you have Java 8? Android builds are not my thing.

[2020-09-21 16:09] locness3 commented on #25
:thinking:

[2020-09-21 17:04] AyzansAlt commented on #26
I play MC with Java 8 though?

[2020-09-21 17:17] YOYITsM3M8 commented on #26
The MC launcher has java 8 bundled in it

[2020-09-21 17:17] YOYITsM3M8 commented on #26
Not installed system wide

[2020-09-22 01:24] micahlt commented on #25
@AyzansAlt It's not relevant - we won't ship a full TurboWarp engine with the app, that'll make it huge.

[2020-09-22 05:38] locness3 commented on #25
I'd argue that embedding TurboWrap would still have it be downloaded to the user's device

[2020-09-22 05:41] locness3 commented on #26
Yup, first install java 8

[2020-09-22 06:42] AyzansAlt commented on #25
Externally?

[2020-09-22 08:37] AyzansAlt commented on #26
I'm an idiot

[2020-09-22 08:37] #26 closed

[2020-09-22 15:39] locness3 commented on #25
Would still take storage space (at least cache)

Also I think we'll use forkphorus

[2020-09-22 17:26] micahlt commented on #25
@locness3 Honestly, now that I'm investigating, TurboWarp actually is a lot better.  It handles graphics a lot better than both Forkphorus and Scratch itself, and its 60FPS feature would be nice to have.  TurboWarp also isn't that big of a download.  Forkphorus is kinda going out of support now that @GarboMuffin has started building on TurboWarp.

[2020-09-23 13:09] locness3 commented on #25
Okay, we'll use turbowarp

[2020-09-25 16:38] locness3 commented on #23
@micahlt Please do this, it shouldn't take much time

[2020-09-26 02:21] micahlt commented on #23
@locness3 It shouldn't and it's quite simple.  This makes it a primary candidate for a Hacktoberfest participant or another, _less busy_, person on the SC4 team.  😄

[2020-09-26 05:33] locness3 commented on #23
fair

[2020-09-26 10:03] AyzansAlt commented on #23
umm

[2020-09-28 01:29] micahlt opened #27 "Animation issues (css-ripple-effect)"
We've got several issues with the `css-ripple-effect` npm package that oddly _only occur on mobile_ (Android).

Here's how it appears in the browser (with `cordova run browser`):

![ezgif-4-55451c5e35ab](https://user-images.githubusercontent.com/28816297/94381443-070ec100-00ff-11eb-8930-cbb5182db3bd.gif)

And here's how it looks on mobile once compiled with `cordova build android`:

![ezgif-4-631d

[2020-09-28 01:33] micahlt commented on #27
Apparently the scrolling issue may be related to https://github.com/mladenplavsic/css-ripple-effect/issues/10 in the library itself.

[2020-10-02 02:18] micahlt opened #28 "Should the repository be renamed?"
Now that Scratch Client 4 Mobile has been rebranded to the public as Itchy, should we rename this repository to Itchy as well?  It would make it easier for Scratchers to find as well as be more consistent.  I've personally never renamed a repo before, so I don't know the consequences (e.g., how long GitHub will keep a redirect going).

[2020-10-02 15:06] locness3 commented on #28
Seems like you can safely rename the repo, redirects are kept for long enough (if not forever). I'd name it `itchy-cordova` as a distinction from the swift version

[2020-10-02 15:08] locness3 commented on #23
We should get this done asap, at least BEM which would improve the code quality a lot and make it better for someone to help out.

[2020-10-03 03:18] micahlt commented on #28
Sounds good!

[2020-10-03 03:18] #28 closed

[2020-10-03 03:26] micahlt commented on #23
@locness3 True.  How about we split this into two issues, as these aren't directly related and don't have to be done at the same time?

[2020-10-03 07:04] locness3 commented on #23
ok

[2020-10-03 10:38] Dawntraoz commented on #23
Hi @locness3 , @micahlt I see your proposal on DEV, I have experience migrating from CSS to LESS and SASS preprocessors, and I used BEM a lot in the past since TailwindCSS appears in my life hahahaha
So I think I can help you, let me know if you want to have a call or something to show me how it is done now. Otherwise I can just take a look myself, when I have your approval to do it :)

[2020-10-03 12:05] locness3 commented on #23
@Dawntraoz go ahead, feel free to make a PR! Shouldn't really be hard to do this anyways ;)

~~why didn't you do it @micahlt~~

[2020-10-03 17:17] micahlt commented on #23
@locness3 I didn't do this because 1) it's Hacktoberfest and 2) I literally have five minutes a day to work on Itchy, because I'm working and doing school all day long, seven days a week.

[2020-10-05 20:00] micahlt commented on #27
The majority of this issue was fixed in 0be9bb2, so I'm closing it for now.

[2020-10-05 20:00] #27 closed

[2020-10-06 02:19] #23 closed

[2020-10-10 06:50] locness3 opened #30 "Make the JavaScript code cleaner and reusable"
I'm okay with going no-framework (#11), but then we should make the JS code cleaner and reusable, using classes and all that stuff. These would be split into multiple files.

[2020-10-17 15:17] locness3 commented on #30
*void*

[2020-10-19 04:54] micahlt commented on #27
Update: this is now fully irrelevant since we've replaced `css-ripple-effect` with a JavaScript alternative that is less glitchy.

[2020-10-19 04:56] micahlt commented on #30
@locness3 What exactly do you mean by classes?  I'm all for cleaning up (and documenting) the JavaScript.

[2020-10-19 07:47] locness3 commented on #30
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes I mean classes

[2020-10-29 04:28] micahlt commented on #30
I've modularized the JS as much as I feel is necessary in 272d5ba90b53c9a43116699952d3af59fabda0fa.

[2020-10-29 04:29] #11 closed

[2020-10-29 04:32] micahlt commented on #25
@locness3 It would be possible to embed Turbowarp without a ton of space.  The engine takes up <13MB, so it's not significant.

[2020-10-29 07:51] locness3 commented on #11
why

[2020-10-29 07:52] locness3 commented on #30
Pretty nice already.

[2020-10-29 08:47] locness3 commented on #25
k

[2020-10-29 12:33] AyzansAlt commented on #25
umm what did I say

[2020-10-29 14:49] micahlt commented on #11
@locness3 Didn't we establish that we're just using modularized JS instead of a framework?

[2020-10-29 14:49] micahlt commented on #30
Thanks :)

[2020-10-29 14:53] micahlt commented on #25
@locness3 Can you work on adding TurboWarp in as a submodule?

[2020-10-29 14:58] locness3 commented on #25
[code]

[2020-10-29 14:58] locness3 commented on #11
ye

[2020-10-29 16:06] micahlt commented on #25
Huh, okay.  But then how do we use the code?  I'll have to read up on
submodules; I'm not familiar with them.

[2020-10-30 08:13] locness3 commented on #30
Now I think we should :
1. Use the `class IdkWhat` and `import IdkWhat from "file.js"` syntaxes, that Parcel allows us to use.
2. Adopt a design pattern such as [Model-View-Controller](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller).

[2020-10-31 07:55] locness3 commented on #30
Also, I suggest once again that we use [lit-html](https://lit-html.polymer-project.org/).

[2020-11-06 02:05] micahlt commented on #25
This was partially finished in PR #35.

[2020-11-06 16:04] locness3 commented on #30
...hi?

[2020-11-06 18:13] micahlt commented on #30
If you're asking about activity here, I'm currently working on improving
the project viewer page.  The code is already clean enough to ship.  I'm
really trying to make the release date of Christmas.  At some point, yeah,
lit-html would be useful.  Currently, I have higher priorities.  If you'd
like to work on it after I merge the next PR, that's fine with me.

On Fri, Nov 6, 2020, 10:04 AM Locness

[2020-11-06 19:07] locness3 commented on #30
Okay, I'll try to give some time.

[2020-11-07 00:25] micahlt commented on #25
@locness3 Could I close this?

[2020-11-07 06:58] #25 closed

[2021-01-09 14:07] locness3 opened #40 "Don't use experiments.turbowrap.org"
- use https://turbowarp.org/embed.html#1234 because experiments.turbowarp.org/transparent-embeds will be removed at some point
 - if you want high quality pen then put ?hqpen before the project ID not after

_Originally posted by @GarboMuffin in https://github.com/Scratch-Client-4/itchy-cordova/pull/35#discussion_r520651402_

[2021-01-09 14:09] locness3 opened #41 "User search : only keep user pages (no user projects etc.)"

[2021-01-10 10:41] locness3 opened #42 "Use JS's built-in URLSearchParams"
https://github.com/Scratch-Client-4/itchy-cordova/blob/c9e919867f33922448347a9edd507d12e9f46b7d/scripts/project.js#L10

Here, a function is defined to parse query parameters from a url string. There's no reason to do this because there exists the [URLSearchParams](https://developer.mozilla.org/fr/docs/Web/API/URLSearchParams) object exactly for this purpose.

[2021-01-20 13:43] grngxd commented on #40
Made a pr above

[2021-01-20 14:59] grngxd commented on #40
@locness3